<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crop Data</title>
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
    {% if price %}
        <form method="POST" action='{%url "crop_data" %}'>
            {% csrf_token %}
            <select name='crop_name'>
                {% for pr in price %}
                    <option value="{{ pr.cropName }}">
                        {{ pr.cropName }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">View Data</button>
        </form>
    {% endif %}



    {% if prices and years and crop %}

        <h1 id="title" style='display : none'> Predicted Prices for {{ crop.cropName }} for 2017 - 2021</h1>
        
        {% for pr in prices %}
            <div class="prices" style="display : none;">{{ pr.price }}</div>   
        {% endfor %}
        {% for yr in years %}
            <div class="years" style="display : none;">{{ yr.year }}</div>   
        {% endfor %}
    
    {% else %}
        <h1>No data available</h1>
    {% endif %}


    <!-- <div id="crop-pred" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> -->
    <div id="crop-pred"></div>
    <div class="button-holder">
        <button id="plain" class="bar-transform-button">Plain</button>
        <button id="inverted" class="bar-transform-button">Inverted</button>
        <button id="polar" class="bar-transform-button">Polar</button>
    </div>



    <script src="{% static "libs/highcharts/charts.js" %}"></script>
</body>
</html>